*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

.indexBody{
    background-color: #F6EFEF
}

@import 'https://fonts.googleapis.com/css2?family=Island+Moments&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Island+Moments&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Island+Moments&display=swap';



@import './modules/header.scss';
@import './modules/aside.scss';
@import './modules/main.scss';
@import './modules/endereco.scss';